html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

#row-login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,-100%);
    border-radius: 10px;
    padding: 15px;
}

#loginForm {
    max-width: 40%;
    max-height: 220px;
}

#button-submit-login {
    display: flex;
    justify-content: center;
}

#container-login {
    height: 635px;
}

#card-response-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 15px;
}

#response-message {
    margin-left: 10px;
}

#clear-message {
    margin-right: 10px;
    cursor: pointer;
}

.table-usuarios {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

