html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

form {
    padding: 20px !important;
}

#row-login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,-100%);
    border-radius: 10px;
    padding: 15px;
}

#loginForm {
    max-width: 40%;
    max-height: 220px;
}

#button-submit-login {
    display: flex;
    justify-content: center;
}

#container-login {
    height: 635px;
}

